{% extends 'base.html' %}
{% block title %}Cashier Page{% endblock %}
{% block content %}
<div class="cashier-page">
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endfor %}
{% endif %}
<div class="header-info-block">
    <h1>Meal Capture</h1>
	</div>
	<div class="row">
  <div class="video-div col-8 col-md-6">
	    <video id="video" autoplay></video>
    </div>
  <div class="form-div col-6 col-md-4">
  <div class="form">
		<form action="{% url 'cashier' %}" enctype="multipart/form-data" method="POST" id="capture-form">
            {% csrf_token %}

			{% include "partial/form.html" with button_text="UPLOAD" %}
            <button id="take-picture-btn" class="btn">CAPTURE</button>
		</form>
	</div></div>
</div>

</div>
    <script>
var cashierUrl = "{% url 'cashier' %}";
</script>

{% endblock %}