{% extends 'base.html' %}
{% block title %}Cashier Page{% endblock %}
{% block content %}
<div class="cashier-page">
<div class="header-info-block">
    <h1>Meal Capture</h1>
	</div>
	<div class="row">
  <div class="video-div col-8 col-md-6">
	    <video id="video" autoplay></video>
    </div>
  <div class="form-div col-6 col-md-4">
  <canvas id="canvas" style="display:none;"></canvas>
  {#img class="capture-img" id="captured-image" src="" alt="Captured Image"#}
  <div class="form">
		<form action="{% url 'cashier' %}" enctype="multipart/form-data" method="POST">
			{% include "partial/form.html" with button_text="UPLOAD" %}
            <button id="take-picture-btn" class="btn">CAPTURE</button>
		</form>
	</div></div>
</div>

</div>
{% endblock %}