{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="header-info-block">
    <h1>Positions Menu</h1>
    {% include 'partial/simple_search.html' %}
	</div>
    <div class="positions row row-cols-1 row-cols-md-3">
      {% for position in positions %}
      <div class="col mb-4">
        <div class="card h-100">
          <img src="../../media/{{ position.image.file }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ position.name }} - ${{ position.price }}</h5>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
{% endblock %}